@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;

  fieldset {
    margin-top: 15vw;
    width: 409px;
    height: 200px;
    padding: 2vw;
    border: 1px solid gray;
    border-radius: 20px;

    p {
      margin: 10px 0 10px 0;

      input {
        border: 1px solid gray;
        border-radius: 5px;
        margin: 5px 28px 5px 0;
        width: 80px;
        padding: 3px;
      }
    }

    p:first-of-type {
      margin-top: 0;
    }

    #btn-send,
    #btn-reset {
      background-color: rgb(36, 36, 36);
      padding: 5px;
      color: #ffffff;
      border-radius: 5px;
    }

    #btn-send:hover,
    #btn-reset:hover {
      background-color: rgb(56, 56, 56);
    }
  }
}
